<%- include('bootheader') -%>
<%- include('menubar') -%>
<br><br><br>
    <div class="jumbotron">
        <h1>How Can We Help?</h1><br>
        <p>&nbspPlease leave a message below</p>
    </div>

    <form method="post" action="/processform">
      Name: <br><input type="text" name="Name" value="Add Name here"> <br><br>
      Email: <br><input type="text" name="Email" value="Add Email here"> <br><br>
      Subject: <br><input type="text" name="Subject" value="Add Subject here"> <br><br>
      Details: <br><textarea name="Details">Add Details here</textarea><br>
      <br><br>

      <input type="submit">


    </form>

<%- include('bootfooter') -%>
