<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>How Can We Help?</h1><br>
        <p>&nbspPlease leave a message below</p>
    </div>

    <form method="post" action="/processform">
      Name: <br><input type="text" name="Name"> <br><br>
      Email: <br><input type="text" name="Email"> <br><br>
      Subject: <br><input type="text" name="Subject"> <br><br>
      Details: <br><textarea name="Details"></textarea><br>
      <br><br>
      <% if (loggedIn) { %>
      <input type="submit">		 
      <% } else { %>
        You must be logged in to submit form info.
        <% } %>

    </form>

<%- include('bootfooter') -%>
