<%- include('bootheader') -%>
<%- include('menubar') -%>
<br><br><br>
    <div class="jumbotron">
        <h1>Stupid Web Randomizer</h1><br><br>
        <p>Take me to a stupid web pls</p>


      <script>

          const webs = [
              'http://burymewithmymoney.com/',
              'http://endless.horse/',
              'http://www.republiquedesmangues.fr/',
              'http://www.eyes-only.net/',
              'http://www.rrrgggbbb.com/',
              'http://randomcolour.com/',
              'http://www.papertoilet.com/',
              'http://heeeeeeeey.com/',
              'http://www.ismycomputeron.com/',
              'http://www.thebestdinosaur.com/',
              'http://iamawesome.com/',
              'http://fallingfalling.com/',
              'http://www.partridgegetslucky.com/',
              'http://www.everydayim.com/',
              'http://beesbeesbees.com/',
              'http://hasthelargehadroncolliderdestroyedtheworldyet.com/',
              'http://ihasabucket.com/',
              'http://www.pointerpointer.com/',
              'http://www.muchbetterthanthis.com/',
              'http://corgiorgy.com/',
              'http://www.patience-is-a-virtue.org/',
              'http://pixelsfighting.com/',
              'http://dogs.are.the.most.moe/',
              'https://isitchristmas.com/',
              'http://www.staggeringbeauty.com/',
              'http://eelslap.com/',
              'http://www.koalastothemax.com/'
          ];

          function randomWeb(webs) {
             return webs[Math.floor(Math.random() * webs.length)];
          }

          function a(webs){
            window.open(randomWeb(webs), '_top');
          }


      </script>




   <a class="btn btn-primary" href="javascript:a(webs)" role="button">Go!</a>

    </div>

<%- include('bootfooter') -%>
