<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
    <h1> Login to Game Randomizer </h1>
      <br>
      <p>You must have a gmail account to login</p>
      <a class="btn btn-danger" href="/auth/google">
            <span class="fa fa-google-plus"> Google</span>
        </a>
</div>






<%- include('bootfooter') -%>
