<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/donation">Donation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/ContactUs">ContactUs</a>
  </li>
  
  <% if (loggedIn) { %>
   <li class="nav-item">
     <a class="nav-link" href="/logout"> Logout</a>
   </li>
   <% } else { %>
     <li class="nav-item">
       <a class="nav-link" href="/auth/google"> Login</a>
     </li>
     <% }  %>
</ul>
