<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/donation">Donation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/ContactUs">ContactUs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
