<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/donation">Donation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/ContactUs">ContactUs</a>
  </li>
  <li class="nav-item">
<a class="nav-link" href="/profile">Profile</a>
       </li>
        <li class="nav-item dropdown">	
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Profiles
   </a>
   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
     <a class="dropdown-item" href="/profiles">Show Profiles</a>
     <a class="dropdown-item" href="/profile">My Profile</a>
     <div class="dropdown-divider"></div>
     <a class="dropdown-item" href="/editProfile">Update Profile</a>
   </div>
  <% if (loggedIn) { %>
   <li class="nav-item">
     <a class="nav-link" href="/logout"> Logout</a>
   </li>
   <% } else { %>
     <li class="nav-item">
       <a class="nav-link" href="/auth/google"> Login</a>
     </li>
     <% }  %>
</ul>
